/* color palette: https://coolors.co/palette/00ccff-00ffcc-ffff00-ff00cc-cc00ff */

:root {
    --blue: #00CCFF;
    --pink: #FF00CC;
    --black: black;
    --yellow: #FFFF00;
    --teal: #00FFCC;
    --purple: #CC00FF;

    --background: #111f35;
    --activelink: #4675C0;
    --link: #8FC8EB;
    --medium: #697A98;
    --text: #88BFD6;
    --contrast: #a5678e;
    --lightcontrast: #E8B7D4;

}

* {
    background: var(--background);
    
}

.text-color{
    color: var(--text);
}

.my-picture{
    border-radius: 50%;
}

.nameFont{
    font-family: 'Monoton', cursive;
}

.aboutMeText {
    font-size: 20px;
}

/* Navigation */
.navTitle{
    font-family: 'Oxygen', sans-serif;
    font-size: 30px;
    color: var(--contrast);
}

.mynavlinkactive {
    color: var(--activelink);
    background-color: var(--background) ;
    border-color: var(--background);
    text-decoration: none;
    padding: 10px;
}

.mynavlinkactive:hover{
    color: var(--contrast);
    background-color: var(--background) ;
    border-color:  var(--background);
    text-decoration: none;
    padding: 10px;
}

.mynavlink{
    margin-bottom: calc(-1 * 1px);
    background: none;
    border: 1px solid transparent;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    color: var(--link);
    text-decoration: none;
    padding: 10px;

}

.mynavlink:hover{
    margin-bottom: calc(-1 * 1px);
    background: none;
    border: 1px solid transparent;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    color: var(--contrast);
    text-decoration: none;
    padding: 10px;

}

/* Portfolio */
.wrapper {
    padding-top: 10px;
    justify-content: space-around;
    height: 100%;
    display: flex;
    overflow: auto;
    flex-flow: row wrap;
    padding: 0px;
    align-content: flex-start;
    background-color:  var(--background);
  }

.newcard {
    background-color:  var(--background);
    border: 3px solid;
    border-color: var(--text);
    height: 450px;
    margin: 1.5rem;
    position: relative;
    width: 350px;
    
  }
  
  .newcard .img-container {
    /* height: 75%; */
    overflow: hidden;
    text-align: center;
    border-radius: 0px;
    background-color: var(--background);
    
  }
  
  .newcard .img-container img {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--background);
   
  }
  
  .newcard .content {
    font-size: 18px;
    text-align: center;
    background-color:  var(--background);
  }
  
  .card-title{
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
    background-color:  var(--background);
    color:var(--contrast);
    
  }
  
  .project-title {
    color: black;
    background-color:  var(--background);
    
  }
  
  .project-icons-container {
    background-color:  var(--background);
  }
  
  .project-icon{
    background-color:  var(--background);
    color: var(--contrast);
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
  }

  .project-icon:hover{
    background-color: var(--background);
    padding: 5px;
    text-decoration: none;
    color:var(--lightcontrast);
  }
  
  .topics {
    font-size: small;
    font-style: italic;
    background-color:  var(--background);  
    color:var(--lightcontrast);  
  }

  .project-description{
    font-size: 13px;
    margin: 10px;
    color:var(--text);
  }

  /* Resume */

  .resume-link{
    color: var(--contrast);
    font-size: 50px;
  }

  .resume-link:hover{
    color: var(--lightcontrast);
  }

  /* Footer */

  .footer-link{
    font-size: 30px;
    text-decoration: none;
    padding-right: 10px;
    color: var(--link);
  }

  .footer-link:hover{
    font-size: 30px;
    text-decoration: none;
    padding-right: 10px;
    color:var(--contrast);
  }

  /* Contact Form */

  form {
    width: 500px;
  }

  .formcontrol{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--pink);
    background-color:  var(--background);
    background-clip: padding-box;
    border: 1px solid var(--blue);
  }
  
  input{
    font-size: 1rem;
    padding: 0.25rem;
    border: 1px solid var(--pink);
    outline: none;
    transition: box-shadow 0.2s;
    color:#00CCFF;
    background-color:  var(--background);
  }

  textarea{
    width: 600px;
	height: 120px;
	border: 0px solid #cccccc;
	padding: 5px;
  }

  button{
    font-size: 1rem;
    padding: 0.25rem;
    border: 1px solid var(--pink);
    outline: none;
    color: var(--pink);
  }

  button:hover{
    font-size: 1rem;
    padding: 0.25rem;
    border: 1px solid var(--yellow);
    outline: none;
    color: var(--yellow);
  }

  .form-spacing{
    margin-top: 2rem !important;
  }